
.centerResults {
  text-align: left;
}
.resultSet {
  border-top: solid;
  border-left: solid;
  border-right: solid;
  margin: auto
}
.resultNoTop {
  border-bottom: solid;
  border-left: solid;
  border-right: solid;
  margin: auto;
}

ul {
  list-style: none;

}
li {
  list-style: none;
}

.resultGroup {
  list-style: none;
  border: solid;
  padding-left: 30px;
  border-style: ridge;

}

h1 {
  text-align: center;
}

body {
  background: url(img/img_mountains02.jpg);
}
.resultGroup {
  background-color: white;
}

.btn-custom {
 background-color: hsl(245, 0%, 56%) !important;
 background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#8e8e8e");
 background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#8e8e8e));
 background-image: -moz-linear-gradient(top, #ffffff, #8e8e8e);
 background-image: -ms-linear-gradient(top, #ffffff, #8e8e8e);
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #8e8e8e));
 background-image: -webkit-linear-gradient(top, #ffffff, #8e8e8e);
 background-image: -o-linear-gradient(top, #ffffff, #8e8e8e);
 background-image: linear-gradient(#ffffff, #8e8e8e);
 border-color: #8e8e8e #8e8e8e hsl(245, 0%, 45%);
 color: #333 !important;
 text-shadow: 0 1px 1px rgba(255, 255, 255, 0.72);
 -webkit-font-smoothing: antialiased;
 font-size: 15px;
 padding: 10px 20px;
 border-radius: 25px;

}

.btn-custom:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.center {
  align-content: center;
}

.row {
  margin: 0;
  background-color: transparent;
  text-align: center;
  margin-bottom: 55px;
}

.row {
  position: relative;
  top:50%
  transform: translateY(-50%);
  transform-style: preserve-3d;
}

#topButton {
  margin-top: 20px;
}
