
.centerResults {
  text-align: left;
}
.resultSet {
  border-top: solid;
  border-left: solid;
  border-right: solid;
  margin: auto
}
.resultNoTop {
  border-bottom: solid;
  border-left: solid;
  border-right: solid;
  margin: auto;
}

ul {
  list-style: none;

}
li {
  list-style: none;
}

.resultGroup {
  list-style: none;
  border: solid;
  padding-left: 30px;
  padding-right: 30px;
}

h1 {
  text-align: center;
}
